<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="tab1">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Pendientes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="checkmark-done-outline"></ion-icon>
      <ion-label>Terminados</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tab3">
      <ion-icon name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>
