<ion-list color="dark">
  
  <ion-item-sliding 
    #slidingItem
    *ngFor="let lista of deseosService.listas | filtro:terminada">
    
    <ion-item-options side="start">
      <ion-item-option color="primary" (click)="editarLista(lista, slidingItem)">
        <ion-icon name="create" slot="icon-only"></ion-icon>
      </ion-item-option>
    </ion-item-options>

    <ion-item 
      detail color="dark"
      (click)="listaSeleccionada(lista)">
      
      <ion-label>{{lista.titulo}}</ion-label>
      <ion-note slot="end"> {{lista.items.length}} items</ion-note>
    
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="borrarLista(lista)">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-item-option>
    </ion-item-options>

  </ion-item-sliding>  
</ion-list>