<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Terminados
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  
  <app-listas [terminada]="true"></app-listas>

  <!-- <app-explore-container name="Tab 2 page"></app-explore-container> -->
</ion-content>
